@import "variables";

* {
    font-family: "SF Pro Display", "Arial", sans-serif;
    font-weight: 400;
}

// --- Базовые стили ---
.container {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 15px;
}
.accent-link {
    &, a {
        display: inline-block;
        color: $accent-color;
        cursor: pointer;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 0.5px;
            background-color: $accent-border-color;
            transform: scaleY(0.5);
        }
    }
}
.text-light {
    color: $text-color-transparent;
}
// --- / Базовые стили ---

// --- Стили элементов ---
.reaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $background-color-light;
    padding: 7px 11px;
    font-size: 14px;
    &_left {
        border-radius: 20px 0 0 20px;
    }
    &_right {
        border-radius: 0 20px 20px 0;
        img {
            height: 13px;
        }
    }
    &__value {
        font-size: 14px;
        color: $text-color-light;
    }
    &__icon {
        margin-right: 4px;
        margin-right: 4px;
    }
    &__react {
        margin-right: 6px;
    }
}
.alert-msg {
    background: $accent-border-color;
    color: $text-color-transparent;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 15px;
}
// --- / Стили элементов ---