// --- Цвета ---
$accent-color: #FF6B00;
$accent-border-color: rgb(255, 107, 0, 0.3);
$attention-color: #2ecc71;
$background-color: #787880;
$background-color-light: #f5f5f5;
$text-color: #05090E;
$text-color-light: #ACACAD;
$text-color-transparent: rgba(4, 4, 4, 0.22);